<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://mirrorservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mirrorservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MirrorService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MirrorService</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="NoteContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:magicmirror.database.windows.net,1433;Initial Catalog=MirrorService_db;User ID=saroot@magicmirror;Password=12qw!@QW" Name="Data Source=tcp:magicmirror.database.windows.net,1433;Initial Catalog=MirrorService_db;User Id=saroot@magicmirror;Password=12qw!@QW;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MirrorWebService.Models.NoteContext, MirrorWebService" MigrationConfiguration="MirrorWebService.Migrations.Configuration, MirrorWebService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NoteContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:magicmirror.database.windows.net,1433;Initial Catalog=MirrorService_db;User Id=saroot@magicmirror;Password=12qw!@QW;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>