<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="8c9887f9-f257-42ef-a66d-a1fdfb9f0767" Publisher="CN=SARoot" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="8c9887f9-f257-42ef-a66d-a1fdfb9f0767" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>MirrorCompanion</DisplayName>
    <PublisherDisplayName>SARoot</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MirrorCompanion.App">
      <uap:VisualElements DisplayName="Mirror Companion" Square150x150Logo="Assets\CompanionAppIcon150x150.png" Square44x44Logo="Assets\CompanionAppIcon.png" Description="Mirror Companion for the Magic Mirror custom app" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\CompanionAppIcon310x150.png" ShortName="Mirror Companion" Square71x71Logo="Assets\CompanionAppIcon150x150.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\MagicMirrorLogo.png" BackgroundColor="white" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>